# 데이터 분석

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df_1 = pd.read_csv('받고만족한9100.csv')

In [4]:
df_1

,group,ranking,id,name,brand,category,price,wish,review_count,rating
0,생일/R_0_1,1,6270215,메르헨트 퍼퓸 핸드워시(2종 택1) | 핸드젤/축하/선물/집들이선물/남자/여자,메르헨트,생필품/수입생필품,9900,2117,45,3.85
1,생일/R_0_1,2,6402438,"""이 중에 좋아하는게 있겠지"" 멈칫 섬유향수 휴대용 섬유탈취제 [14종 택1] / 향수",멈칫,바디,7900,2004,99,3.92
2,생일/R_0_1,3,6508418,가나슈 초콜릿 케이크(조각),파리바게뜨,베이커리,5200,388,31,3.87
3,생일/R_0_1,4,6592334,"""공주님만을 위한 특별한 아크릴 키링"" / 쓸모없는 선물 여자 생일 친구 선물 행운 응원",얼모스트블루,소호잡화,5000,11083,203,3.92
4,생일/R_0_1,5,4048231,곰돌이 시리얼볼 / 접시 / 스푼포크세트 (3종 택1),제이블룸,주방/수입주방,9900,9281,97,3.65
...,...,...,...,...,...,...,...,...,...,...
9083,선/후배/R_5,170,2536139,"모바일교환권 50,000원권",커피빈,카페,50000,310,166,3.91
9084,선/후배/R_5,171,5603304,H.Point 모바일상품권 5만P,H.Point,상품권,50000,605,78,3.80
9085,선/후배/R_5,172,4149102,"모바일금액권 100,000원",CU,편의점,100000,252,68,3.82
9086,선/후배/R_5,173,1315181,"""면역력 선물세트"" 정관장 선물세트 다보록 감사휘편",정관장,홍삼/생식/약초,53000,2574,465,3.89
9087,선/후배/R_5,174,486906,디지털 상품권 10만원권,서가앤쿡(교환권),패밀리레스토랑/뷔페,100000,271,163,3.83

In [13]:
new_df = df_1.loc[(df_1['group'] == '생일/R_0_1') | (df_1['group'] == '선/후배/R_5')]

In [14]:
new_df

,group,ranking,id,name,brand,category,price,wish,review_count,rating
0,생일/R_0_1,1,6270215,메르헨트 퍼퓸 핸드워시(2종 택1) | 핸드젤/축하/선물/집들이선물/남자/여자,메르헨트,생필품/수입생필품,9900,2117,45,3.85
1,생일/R_0_1,2,6402438,"""이 중에 좋아하는게 있겠지"" 멈칫 섬유향수 휴대용 섬유탈취제 [14종 택1] / 향수",멈칫,바디,7900,2004,99,3.92
2,생일/R_0_1,3,6508418,가나슈 초콜릿 케이크(조각),파리바게뜨,베이커리,5200,388,31,3.87
3,생일/R_0_1,4,6592334,"""공주님만을 위한 특별한 아크릴 키링"" / 쓸모없는 선물 여자 생일 친구 선물 행운 응원",얼모스트블루,소호잡화,5000,11083,203,3.92
4,생일/R_0_1,5,4048231,곰돌이 시리얼볼 / 접시 / 스푼포크세트 (3종 택1),제이블룸,주방/수입주방,9900,9281,97,3.65
...,...,...,...,...,...,...,...,...,...,...
9083,선/후배/R_5,170,2536139,"모바일교환권 50,000원권",커피빈,카페,50000,310,166,3.91
9084,선/후배/R_5,171,5603304,H.Point 모바일상품권 5만P,H.Point,상품권,50000,605,78,3.80
9085,선/후배/R_5,172,4149102,"모바일금액권 100,000원",CU,편의점,100000,252,68,3.82
9086,선/후배/R_5,173,1315181,"""면역력 선물세트"" 정관장 선물세트 다보록 감사휘편",정관장,홍삼/생식/약초,53000,2574,465,3.89
9087,선/후배/R_5,174,486906,디지털 상품권 10만원권,서가앤쿡(교환권),패밀리레스토랑/뷔페,100000,271,163,3.83

In [7]:
df_10 = df_1['brand'].value_counts().to_frame()

In [9]:
df_10

           brand
스타벅스         530
GS25         357
투썸플레이스       323
CU           296
배스킨라빈스       280
...          ...
로이체(인테리어)      1
콜린스            1
TWG Tea        1
브로이어           1
랩시리즈           1

[963 rows x 1 columns]

In [12]:
df_1['category'].value_counts()

카페              1665
편의점              752
치킨               693
명품화장품            451
건강기능식품           330
                ...
현대백화점_화장품/향수       1
현대백화점_여성화장품        1
계절가전               1
현대백화점_식품관          1
프렌즈문구              1
Name: category, Length: 97, dtype: int64

In [6]:
df_1['price'].max()

2300000

In [16]:
df_1.groupby('category')['price'].mean()

category
LC가전            41741.666667
LC리빙            23316.666667
가공/맛집/지역먹거리     36068.297872
가구/DIY          37600.000000
건강기능식품          32211.818182
                    ...
헤어/미용           29503.571429
현대백화점_식품관       45000.000000
현대백화점_여성화장품     32250.000000
현대백화점_화장품/향수    34000.000000
홍삼/생식/약초        40947.317073
Name: price, Length: 97, dtype: float64

In [17]:
df_1.groupby('category')['wish'].mean()

category
LC가전            18041.666667
LC리빙            27887.033333
가공/맛집/지역먹거리      3142.702128
가구/DIY           3516.333333
건강기능식품          10589.300000
                    ...
헤어/미용            6742.214286
현대백화점_식품관         212.000000
현대백화점_여성화장품       346.000000
현대백화점_화장품/향수      108.000000
홍삼/생식/약초         9621.448780
Name: wish, Length: 97, dtype: float64

In [18]:
df_1.groupby('brand')['wish'].mean()

brand
1950       814.666667
3CE      17220.666667
60계치킨      556.941176
6다이닝      4532.800000
808       7904.000000
             ...
휩드       46864.800000
휴럼        1591.000000
휴플러스      7880.625000
희녹       15254.333333
힐링팩토리      456.000000
Name: wish, Length: 963, dtype: float64

In [19]:
df_1.groupby('brand')['price'].mean()

brand
1950     21000.000000
3CE      15400.000000
60계치킨    33647.058824
6다이닝     29000.000000
808      58900.000000
             ...
휩드       24500.000000
휴럼       32450.000000
휴플러스     44700.000000
희녹       40333.333333
힐링팩토리    19800.000000
Name: price, Length: 963, dtype: float64